.cont2{
    background-color:rgb(238, 236, 232);
    width: 100%;
    height: auto;
    
}
.imgcont{
    width: 100%;
    height: auto;
}

.recetas {
    background-color:rgb(238, 236, 232);
    padding: 25px;
    text-align: center;
    
     
}
.contenedor-recetas {
    display: flex;
    flex-wrap: wrap;        /* Permite que salten a la siguiente línea si no caben */
    gap: 20px;              /* Espacio entre tarjetas */
    justify-content: center;/* Centra horizontalmente */
    
}

.tarjeta {
    width: 300px;           /* Tamaño de cada tarjeta */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    position: relative;
    padding: 10px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.tarjeta:hover {
    transform: scale(1.05); /* Agranda ligeramente */
    box-shadow: 0 8px 18px rgba(0,0,0,0.2); /* Sombra más intensa */
}
.tarjeta img {
    
    width: 100%;
    border-radius: 15px;
       
}
.text1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12pt;
    text-align: center;
    margin-top: 0px;
    padding: 80px;
 }
.recetasp{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12pt;
}
.contenido {
    padding: 15px;
}
.contenido h2 {
    margin-top: 0;
    color: #8c4b25;
}
.contenido p {
    color: #444;
    line-height: 1.5;
    text-align: justify;
}
.btn {
    display: inline-block;
    background-color: rgb(148, 206, 148);
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn:hover {
    background-color: rgb(92, 145, 92);
    text-decoration: underline;
}
.receta1{
    background-color:rgb(238, 236, 232);
    align-items: center;
    justify-content: center;
    text-align: center;
    
    display: flex;               /* Activa el sistema flex */
    flex-direction: column;      /* Coloca los elementos en columna */
    align-items: center;         /* Centra horizontal */
    justify-content: center;     /* Centra vertical si hay espacio */
    width: 100%;
    padding: 40px ;          /* Espaciado interno */
    box-sizing: border-box; 
}
.receta1 h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     text-align: center;
    margin-bottom: 15px;
}
.receta1 p{
    color: #444;
    line-height: 1.5;
    text-align: justify;           
    padding: 10px;
    width: 90%;                  /* Evita que se salga del contenedor */
    max-width: 900px;            /* Controla el ancho máximo */
    margin: 0 auto; 
    font-size: 12pt;
    
}
.receta1 ul,
.receta1 ol {
    text-align: justify;
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
    line-height: 1.6;
    font-size: 12pt;
    color: #444;
}
.receta1 img {
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    margin: 20px auto;
    display: block;
}